flows.json
[{"id":"a09a933e.a71a","type":"tab","label":"Telemetry","disabled":false,"info":""},{"id":"c0592833.218bc","type":"debug","z":"a09a933e.a71a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"d8d1ad6e.139108","type":"function","z":"a09a933e.a71a","name":"GetTemp","func":"var msg1 = {};\nvar input = msg.payload.split(\",\");\nmsg1.payload = input[0];\nmsg1.payload = msg1.payload.split(\":\")[1];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[["3a5690e4.acde18"]]},{"id":"94d66cab.b5e8b8","type":"function","z":"a09a933e.a71a","name":"GetPressure","func":"var msg1 = {};\nvar input = msg.payload.split(\",\");\nmsg1.payload = input[1];\nmsg1.payload = msg1.payload.split(\":\")[1];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["9ee69a52.416fe8"]]},{"id":"9d5cdf4d.667a5","type":"function","z":"a09a933e.a71a","name":"GetHumidity","func":"var msg1 = {};\nvar input = msg.payload.split(\",\");\nmsg1.payload = input[3];\nmsg1.payload = msg1.payload.split(\":\")[1];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["3a074a92.f27586"]]},{"id":"69b9436d.7125dc","type":"function","z":"a09a933e.a71a","name":"GetAltitude","func":"var msg1 = {};\nvar input = msg.payload.split(\",\");\nmsg1.payload = input[2];\nmsg1.payload = msg1.payload.split(\":\")[1];\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":420,"wires":[["80ec234.4bf00e"]]},{"id":"3a5690e4.acde18","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"d528a72e.42d77","order":1,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"40","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":240,"wires":[[]]},{"id":"80ec234.4bf00e","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"ca979482.45e268","order":2,"width":0,"height":0,"label":"Alt Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00f900","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":480,"wires":[[]]},{"id":"3a074a92.f27586","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"d528a72e.42d77","order":2,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff9300","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":400,"wires":[[]]},{"id":"9ee69a52.416fe8","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"ca979482.45e268","order":1,"width":0,"height":0,"label":"Pressure Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"800","ymax":"1500","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0433ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":320,"wires":[[]]},{"id":"dc7a7315.f35b38","type":"function","z":"a09a933e.a71a","name":"Orientation","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nvar input = msg.payload.split(\",\");\n\n\nmsg1.payload = input[4];\nmsg1.payload = msg1.payload.split(\":\")[1];\nmsg1.topic = \"Yaw\";\n\nmsg2.payload = input[5];\nmsg2.payload = msg2.payload.split(\":\")[1];\nmsg2.topic = \"Pitch\";\n\nmsg3.payload = input[6];\nmsg3.payload = msg3.payload.split(\":\")[1];\nmsg3.topic = \"Roll\";\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":510,"y":480,"wires":[["145a0aa8.e2a705"],["145a0aa8.e2a705"],["145a0aa8.e2a705"]]},{"id":"145a0aa8.e2a705","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"86abf164.2f45d","order":1,"width":6,"height":8,"label":"Orientation","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":520,"wires":[[]]},{"id":"24be85cd.5a3b42","type":"function","z":"a09a933e.a71a","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nvar input = msg.payload.split(\",\");\n\nmsg1.payload = input[7];\nmsg1.payload = msg1.payload.split(\":\")[1];\nmsg1.topic = \"X\";\n\nmsg2.payload = input[8];\nmsg2.payload = msg2.payload.split(\":\")[1];\nmsg2.topic = \"Y\";\n\nmsg3.payload = input[9];\nmsg3.payload = msg3.payload.split(\":\")[1];\nmsg3.topic = \"Z\";\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":500,"y":540,"wires":[["30f8dcca.eed624"],["30f8dcca.eed624"],["30f8dcca.eed624"]]},{"id":"30f8dcca.eed624","type":"ui_chart","z":"a09a933e.a71a","name":"","group":"7b379bc0.0365bc","order":1,"width":6,"height":8,"label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5000","ymax":"5000","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00f900","#ff2600","#0433ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":560,"wires":[[]]},{"id":"15dc90f0.4bd7df","type":"file","z":"a09a933e.a71a","name":"","filename":"test.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":720,"y":80,"wires":[[]]},{"id":"4c85f57f.36ffd4","type":"ui_text","z":"a09a933e.a71a","group":"681b4532.240764","order":2,"width":6,"height":2,"name":"Status","label":"Status","format":"<font background-color= {{str.color}}> {{str}} </font>","layout":"col-center","x":710,"y":620,"wires":[]},{"id":"b04f2c77.d390c8","type":"function","z":"a09a933e.a71a","name":"Color Mapping","func":"var str = {};\n\nstr = msg.payload.status;\nif (str == (\"BME280 Initialized\") || (\"MPU6050 Initialized\")) {\n    str.color = \"yellow\";\n    str = \"STARTUP\";\n    str.toString();\n    return {str};\n} else if (str == \"Flight Computer Primed and Ready\") {\n    str.color = \"red\";\n    str = \"ARMED\";\n    str.toString();\n    return {str};\n} else if (str == \"Deploy chutes!\") {\n    str.color = \"yellow\";\n    str = \"CHUTES\";\n    str.toString();\n    return {str};\n} else if (str == \"Launch initiated.\") {\n    str.color = \"green\";\n    str = \"LAUNCH RDY\";\n    str.toString();\n    return {str};\n} else if (str == \"Ground Control Detected.\") {\n    str.color = \"white\";\n    str = \"GND CTL RDY\";\n    str.toString();\n    return {str};\n} else if (str == \"Ignition\") {\n    str.color = \"green\";\n    str = \"IGNITION\";\n    str.toString();\n    return {str};\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":520,"y":640,"wires":[["4c85f57f.36ffd4"]]},{"id":"a2cba697.07e45","type":"function","z":"a09a933e.a71a","name":"status","func":"var str = {};\n\nstr = msg.payload.status;\nreturn str;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":500,"y":700,"wires":[["d3055836.6ae668"]]},{"id":"d3055836.6ae668","type":"ui_text","z":"a09a933e.a71a","group":"681b4532.240764","order":1,"width":6,"height":2,"name":"Startup","label":"Startup","format":"{{msg.payload}}","layout":"col-center","x":720,"y":680,"wires":[]},{"id":"e6cd723f.7b8ef8","type":"ui_button","z":"a09a933e.a71a","name":"Clear Graphs","group":"681b4532.240764","order":4,"width":"6","height":1,"passthru":false,"label":"Clear Graphs","tooltip":"","color":"","bgcolor":"blue","icon":"","payload":"[]","payloadType":"json","topic":"","x":200,"y":560,"wires":[["3a5690e4.acde18","9ee69a52.416fe8","3a074a92.f27586","80ec234.4bf00e","145a0aa8.e2a705","30f8dcca.eed624"]]},{"id":"6b6db2a4.35a8ac","type":"serial in","z":"a09a933e.a71a","name":"","serial":"440d38ee.1b95d8","x":150,"y":60,"wires":[["d8d1ad6e.139108","94d66cab.b5e8b8","9d5cdf4d.667a5","69b9436d.7125dc","dc7a7315.f35b38","24be85cd.5a3b42","15dc90f0.4bd7df","c0592833.218bc"]]},{"id":"d528a72e.42d77","type":"ui_group","z":"","name":"Temperature","tab":"affd8df5.33091","order":2,"disp":false,"width":"6","collapse":false},{"id":"ca979482.45e268","type":"ui_group","z":"","name":"Pressure","tab":"affd8df5.33091","order":3,"disp":false,"width":"6","collapse":false},{"id":"86abf164.2f45d","type":"ui_group","z":"","name":"Orientation","tab":"affd8df5.33091","order":5,"disp":false,"width":"6","collapse":false},{"id":"7b379bc0.0365bc","type":"ui_group","z":"","name":"Acceleration","tab":"affd8df5.33091","order":6,"disp":false,"width":6,"collapse":false},{"id":"681b4532.240764","type":"ui_group","z":"","name":"Startup","tab":"affd8df5.33091","order":1,"disp":false,"width":"6","collapse":false},{"id":"440d38ee.1b95d8","type":"serial-port","z":"","serialport":"/dev/cu.usbmodem143401","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"0","bin":"false","out":"time","addchar":"","responsetimeout":"10000"},{"id":"affd8df5.33091","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","disabled":false,"hidden":false}]