flows.json
[{"id":"41d37592.26d634","type":"tab","label":"Telemetry","disabled":false,"info":""},{"id":"40bdc60.0bd3e3c","type":"debug","z":"41d37592.26d634","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":140,"wires":[]},{"id":"1d3a32c1.a70fbd","type":"json","z":"41d37592.26d634","name":"","property":"payload","action":"","pretty":false,"x":360,"y":240,"wires":[["9449649f.70d598","9ff30d5e.826b18","f28867f0.1421a","cc85f6cf.946f6","6700c146.669c1","92399d2e.9e967"]]},{"id":"9449649f.70d598","type":"function","z":"41d37592.26d634","name":"GetTemp","func":"msg.payload = msg.payload.Temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":240,"wires":[["7bbda8f4.df0798","93db0c1d.ca9408"]]},{"id":"9ff30d5e.826b18","type":"function","z":"41d37592.26d634","name":"GetPressure","func":"msg.payload = msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":300,"wires":[["8c4d7ac6.dad16","a8dd1770.8a38f8"]]},{"id":"93db0c1d.ca9408","type":"ui_gauge","z":"41d37592.26d634","d":true,"name":"","group":"5ee350c6.6e7f","order":0,"width":"3","height":"3","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":200,"wires":[]},{"id":"a8dd1770.8a38f8","type":"ui_gauge","z":"41d37592.26d634","d":true,"name":"","group":"5ee350c6.6e7f","order":1,"width":"3","height":"3","gtype":"gage","title":"Pressure","label":"hPa","format":"{{value}}","min":"0","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":280,"wires":[]},{"id":"f28867f0.1421a","type":"function","z":"41d37592.26d634","name":"GetHumidity","func":"msg.payload = msg.payload.Humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":360,"wires":[["8bec14c4.01f808","11f10e4c.ba2c8a"]]},{"id":"cc85f6cf.946f6","type":"function","z":"41d37592.26d634","name":"GetAltitude","func":"msg.payload = msg.payload.Altitude\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":420,"wires":[["87fde5c4.8e8a9","571bff46.3b6af"]]},{"id":"11f10e4c.ba2c8a","type":"ui_gauge","z":"41d37592.26d634","d":true,"name":"","group":"5ee350c6.6e7f","order":2,"width":"3","height":"3","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":"-100","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":360,"wires":[]},{"id":"571bff46.3b6af","type":"ui_gauge","z":"41d37592.26d634","d":true,"name":"","group":"5ee350c6.6e7f","order":3,"width":"3","height":"3","gtype":"gage","title":"Altitude","label":"m","format":"{{value}}","min":"0","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":440,"wires":[]},{"id":"7bbda8f4.df0798","type":"ui_chart","z":"41d37592.26d634","name":"","group":"1cf80a98.5d4245","order":4,"width":"0","height":"0","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"40","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff2600","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":730,"y":240,"wires":[[]]},{"id":"87fde5c4.8e8a9","type":"ui_chart","z":"41d37592.26d634","name":"","group":"767b7454.ebfb2c","order":5,"width":0,"height":0,"label":"Alt Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"100","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00f900","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":480,"wires":[[]]},{"id":"8bec14c4.01f808","type":"ui_chart","z":"41d37592.26d634","name":"","group":"333ef130.6e59ae","order":0,"width":0,"height":0,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#ff9300","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":400,"wires":[[]]},{"id":"8c4d7ac6.dad16","type":"ui_chart","z":"41d37592.26d634","name":"","group":"eaab1ba3.d4aed","order":6,"width":0,"height":0,"label":"Pressure Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"800","ymax":"1500","removeOlder":"5","removeOlderPoints":"100","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#0433ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":320,"wires":[[]]},{"id":"6700c146.669c1","type":"function","z":"41d37592.26d634","name":"Position","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.X;\nmsg1.topic = \"X\";\n\nmsg2.payload = msg.payload.Y;\nmsg2.topic = \"Y\";\n\nmsg3.payload = msg.payload.Z;\nmsg3.topic = \"Z\";\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":500,"y":480,"wires":[["2b53d360.c310f4"],["2b53d360.c310f4"],["2b53d360.c310f4"]]},{"id":"2b53d360.c310f4","type":"ui_chart","z":"41d37592.26d634","name":"","group":"66c7f888.6a0028","order":8,"width":"6","height":"6","label":"Position","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":720,"y":520,"wires":[[]]},{"id":"929c84f5.bf8218","type":"udp in","z":"41d37592.26d634","name":"","iface":"","port":"2931","ipv":"udp4","multicast":"false","group":"192.168.1.65","datatype":"utf8","x":140,"y":260,"wires":[["205fab2d.b4743c"]]},{"id":"92399d2e.9e967","type":"function","z":"41d37592.26d634","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\n\nmsg1.payload = msg.payload.X;\nmsg1.topic = \"∆X\";\n\nmsg2.payload = msg.payload.Y;\nmsg2.topic = \"∆Y\";\n\nmsg3.payload = msg.payload.Z;\nmsg3.topic = \"∆Z\";\n\n\nreturn [msg1, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":500,"y":540,"wires":[["a2b3a0cc.bfa67"],["a2b3a0cc.bfa67"],["a2b3a0cc.bfa67"]]},{"id":"a2b3a0cc.bfa67","type":"ui_chart","z":"41d37592.26d634","name":"","group":"86739e16.4c1bd","order":1,"width":"6","height":"6","label":"Acceleration","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-5000","ymax":"5000","removeOlder":1,"removeOlderPoints":"100","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#00f900","#ff2600","#0433ff","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":740,"y":560,"wires":[[]]},{"id":"205fab2d.b4743c","type":"delay","z":"41d37592.26d634","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":260,"y":140,"wires":[["1d3a32c1.a70fbd","40bdc60.0bd3e3c","96e08bc4.7dcae8"]]},{"id":"96e08bc4.7dcae8","type":"file","z":"41d37592.26d634","name":"","filename":"test.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":720,"y":80,"wires":[[]]},{"id":"5ee350c6.6e7f","type":"ui_group","z":"","name":"Dials","tab":"8bd29c32.192cd8","order":2,"disp":false,"width":"6","collapse":false},{"id":"1cf80a98.5d4245","type":"ui_group","z":"","name":"Temperature","tab":"69db1ae7.253d54","order":1,"disp":false,"width":"6","collapse":false},{"id":"767b7454.ebfb2c","type":"ui_group","z":"","name":"Altitude","tab":"69db1ae7.253d54","order":4,"disp":false,"width":"6","collapse":false},{"id":"333ef130.6e59ae","type":"ui_group","z":"","name":"Humidity","tab":"69db1ae7.253d54","order":3,"disp":false,"width":"6","collapse":false},{"id":"eaab1ba3.d4aed","type":"ui_group","z":"","name":"Pressure","tab":"69db1ae7.253d54","order":1,"disp":false,"width":"6","collapse":false},{"id":"66c7f888.6a0028","type":"ui_group","z":"","name":"Position","tab":"69db1ae7.253d54","order":5,"disp":false,"width":"6","collapse":false},{"id":"86739e16.4c1bd","type":"ui_group","z":"","name":"Acceleration","tab":"69db1ae7.253d54","order":6,"disp":false,"width":"6","collapse":false},{"id":"8bd29c32.192cd8","type":"ui_tab","z":"","name":"Gauges","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"69db1ae7.253d54","type":"ui_tab","z":"","name":"Graphs","icon":"dashboard","disabled":false,"hidden":false}]